<% provide (:title, 'Contact') %>

<h1>Contact/<h1>
	<p>
		This page created for showing To Do List, but it doesn't working yet...
		And just sending you to Contact page.
		If you want to modify pages and apps go fuck yourself, or try some exersises from this.....
		<a href="http://rustutarial.org/contact"> contact page <a/> 
	</p>